<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <label>USERNAME:</label>
            <input name="username" type="email" placeholder="enter your username"><br>
            <label>PASSWORD:</label>
            <input type="password" name="password" placeholder="enter your password"><br>
            <button>LOGIN</button>

        </form>
    </div>
    <div>
        <form action="/register">
            <label>New Here? </label>
            <button>Register</button>

        </form>
    </div>
</body>

</html>