<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Using the bootstrap flask module to style a bit -->
    {% extends "bootstrap/base.html" %}
    {% block content %}
    <!-- This url leads to the edit route -->
    <form action="{{url_for('edit')}}" method="POST">
        <!-- The book title and rating is accessed using the dot method with the help of the edit function. -->
        <p>Book Name: {{book.title}}</p>
        <p>Book Rating: {{book.rating}}</p>
        <!-- Using the input methods to declare the type,name,value,placeholder and required and finally submitting using the submit button. -->
        <input hidden="hidden" name="id" value="{{book.id}}">
        <input name="rating" type="text" placeholder="New Rating" required>
        <button type="submit">Change Rating</button>
        {% endblock %}
    </form>
</body>

</html>